@font-face {
    font-family: Exo;
    src: url('../fonts/Exo/Exo-Regular.ttf');
}

body {
    font-family: Exo;
    background-color: #fff;
}
.l-margin-em {
    margin:1em;
}
.l-box-em {
    padding:1em;
}
.l-margin {
    margin:0.5em;
}
.l-box {
    padding:0.5em;
}

.footer {
    min-height:200px;
    background-color: #eeeeee; 
}
.status-bar {
    background-color: #333;
    color:#fff;
}
.nav-text {
    color:#fff;
}
